@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global reset */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #000; /* optional: gives a base dark background */
}